<ng-container *ngFor="let user of users">
<div style="width:70%; margin-left: auto; margin-right: auto;">
    <div class="container">
        <div class="card" style="width:400px">
          <img  class="card-img-top" [src]="user.profilePic" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">{{user.firstName}} {{user.lastName}}</h4>
            <p class="card-text">{{user.description}}</p>
            <a [routerLink]="['/user-info',user.id]" class="btn btn-primary">See Profile</a>
          </div>
        </div>
        <br>
        
      </div>
</div>
</ng-container>
