
    <ng-container *ngFor="let user of users">
        <div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card rounded">
        <div class=" d-block justify-content-center">
            <div class="area1 p-3 py-5"> </div>
            <div class="area2 p- text-center px-3">
                <div class="image mr-3"> <img  [src]="user.profilePic" class="rounded-circle"
                        width="100" />
                    <h4 class=" name mt-3 ">{{user.firstName}} {{user.lastName}}</h4>
                    <p class="information mt-3 text-justify"> {{user.description}}</p>
                    
                    <button class="btn btn-primary follow"  [routerLink]="['/user-info',user.id]" >See Profile</button>

                </div>
                <div> </div>
            </div>
        </div>
    </div>
</div>
</ng-container>