<div fxLayout="column" fxLayoutAlign="center center" class="container">
    <div class="form-container">
        <form [formGroup]="form" class="center-content registration" (submit)="submit()">
            <mat-form-field class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput placeholder="Your fast name" name="firstName" formControlName="firstName">
                <mat-error *ngIf="getFirstName?.errors?.['required'] && getFirstName?.touched">First Name is
                    required</mat-error>
            </mat-form-field><br>

            <mat-form-field class="example-full-width">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Your last name" name="lastName" formControlName="lastName">
                <mat-error *ngIf="getLastName?.errors?.['required'] && getLastName?.touched">Last Name is
                    required</mat-error>
            </mat-form-field><br>



            <mat-form-field class="example-full-width">
                <mat-label>Profile Picture(link)</mat-label>
                <input matInput
                    placeholder="https://thumbs.dreamstime.com/b/steps-to-success-step-one-confidence-step-tow-start-step-three-perseverance-success-steps-to-success-131215982.jpg"
                    name="picture" formControlName="profilePic">
                <mat-error *ngIf="getPicture?.errors?.['required'] && getPicture?.touched">Profile Picture is
                    required</mat-error>
            </mat-form-field><br>

            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <input type="text" matInput placeholder="Description" name="description" formControlName="description">
                <mat-error *ngIf="getDescription?.errors?.['required'] && getDescription?.touched">Description is
                    required</mat-error>
                <mat-error *ngIf="getDescription?.errors?.['minlength'] && getDescription?.touched">Description length
                    must be more than 3 characters</mat-error>
                <mat-error *ngIf="getDescription?.errors?.['maxlength'] && getDescription?.touched">Description length
                    must be less than 10 characters</mat-error>
            </mat-form-field><br>


            <button type="submit" mat-raised-button color="primary">Submit</button> <br>

        </form>
    </div>
</div>