<div class="box">
    <div id="overlay" *ngIf="currUsr">
        <div class="image1">
            <div class="trick">
                <img [src]="currUsr?.profilePic" alt="">
            </div>
        </div>

        <ul class="text">{{currUsr.firstName}} {{currUsr.lastName}}</ul>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading " role="tab" id="headingOne">
                    <h4 class="panel-title ">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                            aria-expanded="" aria-controls="collapseOne">
                            <div class="title  btn btn-danger btn-outline btn-lg">ABOUT
                                {{currUsr.firstName?.toUpperCase()}}
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {{currUsr.description}}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="title btn btn-danger btn-outline btn-lg">SOCIAL</div>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        {{currUsr.firstName}} has been building websites for years. He enjoys making unique websites and
                        web projects.
                        His hobbies include photography, traveling, fishing, watching movies and playing tennis.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="title btn btn-danger btn-outline btn-lg">CONTACT</div>
                        </a>

                        <button style="background-color: rgb(164, 7, 7);"
                            class="title btn btn-danger btn-outline btn-lg" (click)="delete(currUsr.id)">DELETE
                            {{currUsr.firstName.toUpperCase()}}</button>




                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">



                        <form [formGroup]="form" class="center-content" (submit)="submit()">
                            <mat-form-field class="example-full-width">
                                <mat-label>Full Name</mat-label>
                                <input matInput placeholder="Full Name" name="fullName" formControlName="fullName">
                                <mat-error *ngIf="getFullName?.errors?.['required'] && getFullName?.touched">Full Name
                                    is required</mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Your email" name="email" formControlName="email">
                                <mat-error *ngIf="getEmail?.errors?.['required'] && getEmail?.touched">Email is
                                    required</mat-error>
                                <mat-error *ngIf="getEmail?.errors?.['email'] && getEmail?.touched">Email form isn't
                                    correct</mat-error>
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-label>Message</mat-label>
                                <textarea matInput placeholder="Text Area" name="textArea"
                                    formControlName="textMessage"></textarea>
                                <mat-error *ngIf="getMessage?.errors?.['required'] && getMessage?.touched">Text Area is
                                    required</mat-error>
                                <mat-error *ngIf="getMessage?.errors?.['minlength'] && getMessage?.touched">Text Area
                                    length must be more than 3 characters</mat-error>
                                <mat-error *ngIf="getMessage?.errors?.['maxlength'] && getMessage?.touched">Text Area
                                    length must be less than 10 characters</mat-error>
                            </mat-form-field>

                            <button type="submit" mat-raised-button color="primary">Submit</button> <br>

                        </form>
                    </div>

                </div>
            </div>
        </div>
        <ng-container *ngIf="loading; else loaded">
            <div class="d-flex justify-content-center align-items-center h-100 w-100">
                <img src="./assets/images/loading.gif" alt="" width='60px'>
            </div>
        </ng-container>

        <ng-template #loaded>
            <h1 style="text-align: center;">{{userFriends?.length != 0? ('You can also see '+ currUsr.firstName+"'s
                friends list before scrolling("+userFriends?.length+')'):(currUsr.firstName + "'s has no friends")}}
            </h1>
            <div class="  row product-items " (scroll)="onScroll($event)">
                <div class="   mt-5 mb-5 col-12 col-sm text-center" *ngFor="let friend of userFriends ">
                    <div class=" card row product-items">
                        <div class=" area1 p-3 py-5"> </div>
                        <div class=" area2 p- text-center px-3">
                            <div class="image mr-3"> <img [src]="friend.profilePic" class="rounded-circle"
                                    width="100" />
                                <h4 class=" name mt-3 ">{{friend.firstName}} {{friend.lastName}}</h4>
                                <p class="information mt-3 text-justify"> {{friend.description}}</p>

                                <button class="btn btn-primary follow" (click)="showUser(friend.id)">See
                                    Profile</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>